:root {
  --duration-normal: theme("transitionDuration.normal");
  --duration-slow: theme("transitionDuration.slow");
  --duration-dramatic: theme("transitionDuration.dramatic");

  --easing-standard: theme("transitionTimingFunction.standard");
  --easing-decelerate: theme("transitionTimingFunction.decelerate");
  --easing-accelerate: theme("transitionTimingFunction.accelerate");
  --easing-bounce: theme("transitionTimingFunction.bounce");
}
